link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
script(src="//code.jquery.com/jquery-1.11.3.min.js")
script(src="socket.io.js")

h1 Check out the latest posts
ul
  each post in posts
    li
      a(href="/posts/" + post._id) #{post.title}

h2 Or create a new post

form(method="POST" action="/posts" class="pure-form-stacked")
  input(type="text" placeholder="title" name="title")
  textarea(name="body" placeholder="Content goes here...")
  button(type="submit") Create New Post

ul#messages
form(action='')
  input#m(autocomplete='off')
  button Send

script(type="text/javascript").
  var socket = io();
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
